# Python & Django
__pycache__/
*.py[cod]
*.pyo
db.sqlite3
*.log
*.pyc
staticfiles/

# Virtual Environment
env/
venv/
.env
.venv/

# Tailwind 
node_modules/
theme/static_src/node_modules/

#ide
.idea/
*.iml